<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Syncfusion.Linq.Base, Version=14.3450.0.49, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.EJ, Version=14.3450.0.49, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.EJ.Export, Version=14.3450.0.49, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Compression.Base, Version=14.3450.0.49, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.XlsIO.Base, Version=14.3450.0.49, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.Pdf.Base, Version=14.3450.0.49, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.DocIO.Base, Version=14.3450.0.49, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.OfficeChart.Base, Version=14.3450.0.49, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.EJ.Web, Version=14.3450.0.49, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
        <add assembly="Syncfusion.EJ.MVC, Version=14.3500.0.49, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <pages>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add namespace="Syncfusion.JavaScript.Web" assembly="Syncfusion.EJ, Version=14.3450.0.49, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" tagPrefix="ej" />
        <add namespace="Syncfusion.JavaScript.DataVisualization.Models" assembly="Syncfusion.EJ, Version=14.3450.0.49, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" tagPrefix="ej" />
        <add namespace="Syncfusion.JavaScript.Models" assembly="Syncfusion.EJ, Version=14.3450.0.49, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" tagPrefix="ej" />
        <add namespace="Syncfusion.JavaScript.Web" assembly="Syncfusion.EJ.Web, Version=14.3450.0.49, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" tagPrefix="ej" />
      </controls>
      <namespaces>
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="captimage.axd" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=14.3450.0.49, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    </httpHandlers>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add verb="*" path="captimage.axd" name="syncfusion_generatetools" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=14.3450.0.49, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    </handlers>
  </system.webServer>

  <connectionStrings>
    <add name="Entities_Sistemas" connectionString="metadata=res://*/Sistemas.Model_Sistemas_.csdl|res://*/Sistemas.Model_Sistemas_.ssdl|res://*/Sistemas.Model_Sistemas_.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ERP_SYS;Integrated Security = True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Seguridad_Accesos" connectionString="metadata=res://*/SeguridadAcceso.Model_Seguridad_Acceso.csdl|res://*/SeguridadAcceso.Model_Seguridad_Acceso.ssdl|res://*/SeguridadAcceso.Model_Seguridad_Acceso.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ERP_SYS;Integrated Security = True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_General" connectionString="metadata=res://*/General.Model_General.csdl|res://*/General.Model_General.ssdl|res://*/General.Model_General.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ERP_SYS;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Facturacion" connectionString="metadata=res://*/Facturacion.ModelFacturacion.csdl|res://*/Facturacion.ModelFacturacion.ssdl|res://*/Facturacion.ModelFacturacion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ERP_SYS;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Inventario" connectionString="metadata=res://*/Inventario.ModelInventario.csdl|res://*/Inventario.ModelInventario.ssdl|res://*/Inventario.ModelInventario.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ERP_SYS;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />


  </connectionStrings>
   <!--<connectionStrings>
    <add name="Entities_Sistemas" connectionString="metadata=res://*/Sistemas.Model_Sistemas_.csdl|res://*/Sistemas.Model_Sistemas_.ssdl|res://*/Sistemas.Model_Sistemas_.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ERP_SYS;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="Entities_Seguridad_Accesos" connectionString="metadata=res://*/SeguridadAcceso.Model_Seguridad_Acceso.csdl|res://*/SeguridadAcceso.Model_Seguridad_Acceso.ssdl|res://*/SeguridadAcceso.Model_Seguridad_Acceso.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ERP_SYS;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>-->
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
  
            </dependentAssembly>
            <dependentAssembly>
                 <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                 <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                 <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                 <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                 <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                 <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
